<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/student/submit" method="post">
    <input type="text" name="std"/>
    <input type="text" name="cou"/>
    <button type="submit">Submit</button>
</form>