.button{
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: wheat;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.button:hover,
.button:active{
    background: #744488;
    border-color: #744488;
}

.button:focus{
    outline: none;
}